###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=change_this_to_your_secret
DATABASE_URL="sqlite:///%kernel.project_dir%/var/app.db"
###< symfony/framework-bundle ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
###< nelmio/cors-bundle ###
